/*background image here*/

header {
    color: darkblue;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 50px;
    background-image:url(../images/triangle-mosaic.png);
    text-align: center;
    border: 10px solid white;
    border-radius: 2em;
    max-width:auto;
    margin-bottom: 50px;
    
}

/*anchor links*/

nav a {
    font-size: 24px;
    font-style: oblique;
    padding: 10px;
}

nav a:hover {
        position:relative;
        background-color: rgb(223, 179, 210);
        z-index: auto -1;
    }

body {
    background: url(../images/lauren-mancke-aOC7TSLb1o8-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;   
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sidebyside {
    display: flex;
    flex-direction: row;  
    justify-content:center;
    margin-left: 30px;
}

.subs {
    border: whitesmoke 4px solid;
    background-color:lightcoral;
    max-width: 500px;
    margin: 30px;
    padding: 20px;
    border-radius: 4%;
    text-align:center;
}
 /*bold*/

span {
    font-weight: 800;
}

#profile {
    border: whitesmoke 4px solid;
    border-radius: 60%;
    height: 300px;
    width: 250px;
    margin: 20px;
    order: 1;
    transform: translateY(40px);
}

#Bio {
    border: whitesmoke 4px solid;
    background-color:lightcoral;
    max-width: 600px;
    margin: 30px;
    padding: 20px;
    border-radius: 4%;
}

#Education {
    border: whitesmoke 4px solid;
    background-color:lightcoral;
    max-width: 500px;
    margin: 30px;
    padding: 20px;
    border-radius: 4%;
}

#medical {
    border: whitesmoke 4px solid;
    background-color:lightcoral;
    max-width: 300px;
    margin: 30px;
    padding: 20px;
    border-radius: 4%;
}

#technical {
    border: whitesmoke 4px solid;
    background-color:lightcoral;
    max-width: 300px;
    margin: 30px;
    padding: 20px;
    border-radius: 4%;
}

#lower {
    display: flex;
    flex-direction: row;
    text-align: center;
}


img {
    height:170px;
    width:145px;
}

section {
    text-align: center;
}

ul li {
    list-style: none;
}


h2 {
    color: whitesmoke;
    font-size: 42px;
    padding: 20px;
    border: whitesmoke 4px solid;
    background-color:lightcoral;
    width:auto;
    
    

}

h3 {
    color: darkblue;
    margin-top: 20px;
    font-size: 32px;
}

.desc {
    color: whitesmoke;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*footer pic and info*/

footer {
    background-image:url(../images/triangle-mosaic.png);
    text-align: center;   
    border: 10px solid white;
    border-radius: 2em;
    max-width:auto;
    margin-bottom: 50px; 
}

footer div a {
    padding-left: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;       
}

footer div a:hover {
    position:relative;
    background-color: rgb(223, 179, 210);
    z-index: auto -1;
}

/*phone view*/

@media screen and (max-width: 768px) {
    header, body, footer {
        flex-direction: column;
    }

    body {
        display: inline-flex;
        flex-wrap: wrap;
        padding: 20px;
        background: lightblue;

    }

    header, footer {
        background: lightgrey;
        max-height: fit-content;
    }
}
