
header {
    color: darkblue;
    font-size: 40px;
    background-image: url(../images/triangle-mosaic.png);
    padding: 50px;
    text-align: center;
}

div {
    font-size: 16px;
}

body {
    background-color: lightblue;
}

section {
   
}


h1 {

}

p {

}

footer {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

footer ul li {
    
}

.gmail:hover {
    background-color: white;
}